.containterBannerInfo_F {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.bannerInfoIcon_F{
    font-size: 8vh !important;
    color: #3f5123;
}
.infoItemTitle_F {
    color: #2c3918;
}
.infoItem_F {
    width: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marginNone {
    margin-top: 0;
}