.conteiner_B{
    max-height: 550vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.img-conteiner_B{
    height: 50vh;
}
.conteiner-avatar-fecha_B{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.conteiner-text1-B{
    max-width: 80vw;
    display: flex;
    justify-content: space-around;
}
.conteiner-text2_B{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    max-width: 80vw;
    
}
.card-header-detailBlog_B{
    display:'flex';
    flex-direction: column-reverse;
    padding: 0;
    justify-content: center;
    align-items: center;
}