.BL-NyP-products{
    display:flex !important;
    justify-content:space-around;
    align-items:center;
}
.BL-card-products{
    display:flex;
    justify-content:center;
    align-items:center;
    height:70vh;
    max-width:345px;
    margin-top:1rem;
    margin-bottom:2rem;
}

/* CARD 2 */
.productsPageContainer_F {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.products_F {
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:wrap;
    min-height: 52.2vh;
}
.card_F {
    margin-top:8rem !important;
    width: 300px;
    height: min-content;
    padding: 25px;
    background: rgb(209, 230, 210);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05) ;
}

.card_F .cardImg_F {
    width: 100%;
    text-align: center;
}

.card_F .cardImg_F img {
    height: 8rem;
    margin: -150px 0 15px 0;
    filter: drop-shadow(0 8px 8px #cdd5e2);
    transition: .3s;
}

.card_F:hover .cardImg_F img  {
    height: 11rem;
}
.card_F .cardImg_F h3 {
    color: #1b2430;
    font-size: 28px;
    letter-spacing: -.5px;
}

.card_F .cardImg_F p {
    color: #b3bac3;
    font-size: 18px;
    margin-top: -4px;
    letter-spacing: -.5px;
}
.card_F .cardDetails_F {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.card_F .cardDetails_F span {
    color: #b3bac3;
    font-size: 16px;
}
.card_F .cardDetails_F p {
    color: #1b2430;
    font-size: 20px;
    font-weight: 700;
    margin-top: -2px;
}

.card_F button {
    width: 100%;
    height: 40px;
    color: #fff;
    background: #1b2430;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.BL-img-cards-products{
    max-height:30vh !important;
}


/* CARD 3 */
/* From uiverse.io by @alexruix */
.card {
    width: 190px;
    height: 320px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   

/* From uiverse.io by @G4b413l */
.cardF {
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
   }
   
   .cardF::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 100%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
   }
   
   .cardF .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
   }
   
   .cardF .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
   }
   
   .cardF:hover::after {
    bottom: 0;
   }
   
   .card4:active {
    transform: scale(0.98);
   }
   
   .card4:active::after {
    content: "Added !";
    height: 3.125em;
   }
   
   .text {
    max-width: 55px;
   }
   
   .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
   }


/* From uiverse.io by @alexruix */
.searchMargin_F {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 40vw;
}

.input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
}

.input::placeholder {
    color: #777;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
}
