.navbarColor_F {
    background-color: #F2F2F2 !important;
    margin: 0 !important;
}

.logoContainer_F{
    background-color: #A4BF41;
    padding-left: 4vh;
    padding-right: 2vh;
    padding-top: .2vw;
    padding-bottom: .2vw;
}
.css-19r6kue-MuiContainer-root{
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 1rem;
}


.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
    color:#6D8C3E !important;
}

.css-1uwgr7b-MuiTypography-root{
    color: white;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: #A4BF41;
}
.css-1t6c9ts {
    display: flex;
    gap: 3vh;
}