.containterBannerInfo_F {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.bannerInfoIcon_F{
    font-size: 8vh !important;
    color: #3f5123 !important;
}
.infoItemTitle_F {
    color: #2c3918;
}
.infoItem_F {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marginNone {
    margin-top: 0;
}


@media (max-width: 500px) {
    .containterBannerInfo_F {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:1rem;
        margin:1rem;
    }
}


