.footerNav {
    background-color: #6D8C3E;
    min-height: 22.5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;    
}

.copyrg {
    background-color: #F2F2F2;
    height: 1.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.MuiButton-root{
    margin: 0 !important;
    padding: 0 !important;
}

.navFooter>a {
    text-decoration: none;
}

.navigationTitle{
    color: #F2F2F2;
}

.navegation{
    height:10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.navFooter {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMedia {
    display:flex;
    flex-direction:row;
  
   
}
.MuiButton-root {
    min-width:0!important;
    margin:.5rem!important;
}
.footerLogo {
    max-width: 100%;
    height: 6rem !important;
}

.footerTextRP {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:.5rem;
    
    
}




@media (max-width: 1200px) {
    .copyrg {
        height: fit-content;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}

@media (max-width: 768px) {
    .copyrg {
        height: .5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
}

@media (max-width: 576px) {
    .footerNav {
        height: fit-content;
        display: flex;
       
        align-items: center;
       
        
    }
    .copyrg {
        height: fit-content;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .footerLogo {
        height: 5rem !important ;
    }
}

@media (min-width: 380px) {
    .socialMedia {
        font-size:1rem!important;
       
        
    }
}