.bVoXXg {
    height: auto;
}
.BL-img-carrusel {
    height: 100%;
    width: 100%;
    background-size:contain;
    background-repeat:no-repeat;
}

.mainCarouselContainer_F {
    margin-bottom: 5vh;
    margin-top: 5vh;
}