.navbarColor_F {
    background-color: #F2F2F2 !important;
    margin: 0 !important;
}
.avatarAndCart_F {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.logoContainer_F{
    background-color: #A4BF41;
    padding-left: 4vh;
    padding-right: 2vh;
    padding-top: .2vw;
    padding-bottom: .2vw;
}
.css-19r6kue-MuiContainer-root{
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 1rem;
}
/* .css-r6ewbb-MuiToolbar-root {
    background-color: aqua;
} */

.css-19r6kue-MuiContainer-root {
    padding-left: 0;
}

.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root, .css-1uwgr7b-MuiTypography-root{
    color:#6D8C3E !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: #A4BF41;
    background-color: #F2F2F2;
}
.navbarIconMenu_F {
    color: white;
}
.css-1t6c9ts {
    display: flex;
    gap: 3vh;
}

.css-r6ewbb-MuiToolbar-root{
    justify-content: space-between;
}