.navbarAdmin_F {
    height: 4rem;
    background-image: url(https://i.imgur.com/MNq7VpS.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbarAdmin_F {
    padding: 10px !important;
}

.navbarAdmin_F:hover{
    background-color: #F2F2F2  !important;
    color: #6D8C3E;
}